.container {
  width: 80%;
  margin: 0 auto;
  padding: 4rem;
  background-color: rgba(247, 250, 246, 0.8);
}

.foundations {
  border: 0.1rem solid rgba(41, 41, 41, 0.9);
  padding: 2rem;
  margin-bottom: 2rem;
}

.components {
  border: 0.1rem solid rgba(41, 41, 41, 0.9);
  padding: 2rem;
  margin-bottom: 2rem;
}

.bg {
  background-color: rgba(41, 41, 41, 0.9);
}

.components .card {
  height: 30rem;
  width: 40rem;
  margin: 4rem 0;
}

@media only screen and (max-width: 500px) {
  .components .card {
    height: auto;
    width: 100%;
    margin: 4rem 0;
  }
}
