/* typography */
/* 10px/16px = 62.5% -> 1rem = 10px */

html {
  box-sizing: border-box;
  font: 62.5%/1.6 "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

@media only screen and (max-width: 1100px) {
  html {
    font-size: 56%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 44%;
  }
}

body {
  font-size: 1.6rem; /*=16px*/
  color: rgba(41, 41, 41, 0.9);
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0;
}

h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

p {
  margin-bottom: 1rem;
}

ul {
  list-style-type: circle;
}

ul li {
  margin-right: 2rem;
}

.underlined {
  text-decoration: 0.2rem underline solid rgba(200, 251, 137, 1);
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline solid rgba(41, 41, 41, 0.9);
  color: rgba(41, 41, 41, 0.9);
}

blockquote {
  border-left: 1rem solid rgba(200, 251, 137, 1);
  padding-left: 1rem;
  margin: 2rem;
  font-style: italic;
}
